.main {
    background-color: $color-background-body;
    /*background-image: url(/images/bg_paws.png);
    background-size: cover;
    background-position-x: 10%;
    
    hidden???*/
    

    &__blockquote {
        padding: 10px 0 30px 0;

        
        &-title1 {
            color: $color-text;
            font-family: $font-family-header;
            font-weight: 400;
            margin:  50px 0 0 15px;
            border-left: 3px solid $color-background;
            letter-spacing: .05em;
            padding: 0 0 0 5px;
            font-size: 30px;

        }
        &-title2 {
            color: $color-text;
            font-family: $font-family-header;
            font-weight: 200;
            margin: 0 0 0 15px;
            border-left: 3px solid $color-background;
            letter-spacing: .05em;
            padding: 5px 0 0 20px;
            font-size: 20px;

        }

        &-p {
            color: #FFFFFFC4;
            font-family: $font-family-header;
            font-weight: 100;
            text-align: center;
            letter-spacing: .9px;
            opacity: 1;
            font-size: 14px;
        }

        &-span {
            color: $color-background;
            font-weight: 1000;
            font-size: 25px;
            font-family: cursive;
        }
    }

}