img {
    width: 30%;
    padding: 20px;
}

.grid {
    background-color: $color-background-body;
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


    @media screen and (min-width: 400px){
        grid-column: 200px 200px;
        grid-row: 200px 200px;
    }
    
    
    &__card {
        background-color: $color-background-body;   
        border-radius: .8em;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 282px;
        margin: 20px;
        border: 2px solid $color-gray;

        @media screen and (min-width: 400px) {
            height: 305px;
            width: 448px;
        }

        
        &-img {
            background-color: $color-card;
            border-radius: .8em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: flex-end;
            height: 282px;
            width: auto;
            box-shadow: 5px 5px 15px 5px $color-shadow;
            

            @media screen and (min-width: 400px){
            }
        }
        
        &-content {
            padding: 10px;
            width: inherit;
            height: inherit;
            background-color: $color-background-body;
            border-top: 5px solid $color-background;
            border-bottom-left-radius: .8em;
            border-bottom-right-radius: .8em;
            display: flex;
            align-content: center;

            

            @media screen and (min-width: 400px){
            }
        }
        
        &-text-placeholder {
            display: flex;
            flex-wrap: wrap;
            font-family: $font-family-header;
            font-size: 10px;
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: .05em;
            
            color: $color-gray;

            @media screen and (min-width: 400px){
                font-size: 14px;
                font-weight: 400;
   
            }
        }
        
    }
    
    
    
}