.header {
    width: 100%;
    height: 100%;
    background-color: $color-background;
    
    &__logo {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        padding: 20px 17px;
    }
    
    &__img-logo {
        width: 110px;
        height: auto;
        padding: 0;
    }
    
    &__title {
        font-size: 15px;
        font-family: $font-family-header;
        font-weight: 100;
        color: $color-font;
        letter-spacing: .1em;
        
        &-span {
            font-weight: 500;
        }  
    }
    
    &__img-burguer {
        height: 30px;
        width: 30px;
        
    }
    
    &__menu {
        position: absolute;
        width: 100%;
        height: auto;
        visibility: hidden;

        @media screen and (min-width: 400px){
            visibility: visible;

        }
        
        &-nav{
            width: 100%;
        }
        
        &-ul{
            margin: 0;
            padding: 0;
            width: 100%;                
            display: flex;
            justify-content: center;
        }
           
        &-li {
            list-style: none;
            display: inline-block;
            font-family: $font-family-header;
            font-size: $font-size-mobile;

            &:hover{
                color: white;
                background: $color-background;
            }
        }
                
        &-a {
            display: block;
            align-items: center;
            text-decoration: none;
            font-size: 10px;
            font-weight: 100;
            letter-spacing: .15em;
            color: $color-font;
            padding: 5px;
        }
        
    }
}