.header {
    width: 100%;
    height: auto;
    background-color: $color-blue;
    
    &__logo {
        justify-content: space-between;
        padding: 20px 20px 20px 0;
        display: flex;
        align-items: center;


        @media screen and (min-width: $media-tablet){
            display: flex;
            margin: 0;
        }
    }


    &__img-logo {
        width: 110px;
        height: auto;
        padding: 0 14px;

        @media screen and (min-width: $media-tablet){
            align-items: center;
            width: 200px;
            height: auto;
        }
    }
    
    &__title {
        font-size: 15px;
        font-family: $font-family-header;
        font-weight: 100;
        color: $color-black;
        letter-spacing: .1em;
        padding: 0px 17px;
        margin: 0;

        
        &-span {
            font-weight: 500;
        } 

        @media screen and (min-width: $media-tablet){
            font-size: 16px;
        }

        @media screen and (min-width: $media-desktop){
            font-size: 20px;
        }
    }
    
    &__img-burguer {
        height: 30px;
        width: 30px;

        @media screen and (min-width: $media-tablet){
            visibility: collapse; 
        }

    }
    
    &__menu {
        width: 100%;
        height: auto;
        visibility: collapse;
        background-color: $color-white;

        @media screen and (min-width: $media-tablet){
            visibility: visible;
        }
        
        
        &-ul{
            margin: 0;
            padding: 0;
            width: 100%;                
            display: flex;
            justify-content: center;
        }
        
        &-li {
            list-style: none;
            display: inline-block;
            font-family: $font-family-header;
            font-size: $font-size-mobile;
            
            &:hover {
                background: $color-blue;
            }         
        }
        
        &-a {
            display: block;
            align-items: center;
            text-decoration: none;
            font-size: 10px;
            font-weight: 100;
            letter-spacing: .15em;

            &:hover {
                color: $color-white;
                font-weight: 600;

            }
            
            @media screen and (min-width: $media-tablet){
                visibility: visible;
                font-weight: 200px;
                font-size: 12px;
                margin: 10px;
                padding: 10px;
                color: $color-black;

            }
            
            @media screen and (min-width: $media-desktop){
                visibility: visible;
                font-size: 16px;
                padding: 13px;
            }
        }
        
    }
}