@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

$font-family-header: 'Montserrat';
$font-size-mobile: 14px;
$font-size-tablet: 16px;
$font-size-desktop: 18px;

$font-ppp: 8px;
$font-pp: 10px;
$font-p: 12px;
$font-m: 14px;
$font-g: 16px;
$font-gg: 18px;


