.btnMenu_open{
    display: block;
    background-image: url(/images/menu.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}

.btnMenu_close{
    $background-color: $color-blue;
    background-image: url(/images/menu.png);


}